/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: biolinum, sans-serif !default;
$presentation-font-size-root: 35px;

// colors
$body-bg: #062b4d;
$body-color: #f0dec5;
$link-color: #e38454;;
$presentation-heading-color: #d48d6a;